Repository rogerioyokoi/rogerioyokoi: changes, and which lefthook commands are due for each by the changed paths.
All: Lint and Fix Issues, Format Code, Run Tests on Staged Files

lefthook.yml:

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitzen:
      interactive: true
      run: npm run build:commit
      env:
        LEFTHOOK: 0

# Use this to validate commit messages
commit-msg:
  commands:
    'Lint commit message':
      run: npm run lint:commit

pre-commit:
  parallel: true
  commands:
    'Lint and Fix Issues':
      glob: '*.{js,ts,jsx,tsx}'
      run: npm run lint:fix {staged_files}
    'Format Code':
      glob: '*.{js,ts,jsx,tsx}'
      run: npm run lint:format:fix {staged_files}
    'Run Tests on Staged Files':
      glob: '*.{test,spec}.{js,ts,jsx,tsx}'
      run: npm run test:staged {staged_files}

pre-push:
  commands:
    'Run Test Coverage':
      run: npm run test:coverage

fix: fix event listener and home text
  src/assets/data/meta.const.ts
  src/components/molecules/drawer/drawer.tsx
  src/components/pages/home/__snapshots__/home.test.tsx.snap
  src/index.css
Due: Lint and Fix Issues, Format Code

refactor: improve card component refatoring types and class functions
  src/components/atoms/card/card.test.tsx
  src/components/atoms/card/card.tsx
  src/components/atoms/card/card.types.ts
  src/components/atoms/card/cardClasses.ts
  src/components/atoms/card/index.ts
  src/utils/generators/classesGenerators.test.ts
  src/utils/generators/classesGenerators.ts
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

refactor: implement tests and refactor header component, improve global types and generators
  src/components/atoms/chip/chip.tsx
  src/components/atoms/header/__snapshots__/header.test.tsx.snap
  src/components/atoms/header/header.classes.ts
  src/components/atoms/header/header.test.tsx
  src/components/atoms/header/header.tsx
  src/components/atoms/header/header.types.ts
  src/components/atoms/header/index.ts
  src/components/organisms/headerApplication/headerApplication.tsx
  src/index.css
  src/types/global.types.ts
  src/utils/generators/classesGenerators.test.ts
  src/utils/generators/classesGenerators.ts
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

chore: rebase
  README.md
Due: none

Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: none

feat: add stat counter
  index.html
Due: none
