Repository rogerioyokoi/rogerioyokoi: changes, and which lefthook commands are due for each by the changed paths.
All: Lint and Fix Issues, Format Code, Run Tests on Staged Files

lefthook.yml:

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitzen:
      interactive: true
      run: npm run build:commit
      env:
        LEFTHOOK: 0

# Use this to validate commit messages
commit-msg:
  commands:
    'Lint commit message':
      run: npm run lint:commit

pre-commit:
  parallel: true
  commands:
    'Lint and Fix Issues':
      glob: '*.{js,ts,jsx,tsx}'
      run: npm run lint:fix {staged_files}
    'Format Code':
      glob: '*.{js,ts,jsx,tsx}'
      run: npm run lint:format:fix {staged_files}
    'Run Tests on Staged Files':
      glob: '*.{test,spec}.{js,ts,jsx,tsx}'
      run: npm run test:staged {staged_files}

pre-push:
  commands:
    'Run Test Coverage':
      run: npm run test:coverage

feat(metatags): create a component to manage application metatags
  package-lock.json
  package.json
  public/logomarca.png
  src/assets/data/meta.const.ts
  src/assets/logo.svg
  src/assets/react.svg
  src/components/atoms/metaTags/metaTags.test.tsx
  src/components/atoms/metaTags/metaTags.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat: implement logoIcon component
  src/components/atoms/logoIcon/logoIcon.test.tsx
  src/components/atoms/logoIcon/logoIcon.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat: implements Logo Component
  src/components/molecules/logo/logo.test.tsx
  src/components/molecules/logo/logo.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat: implement Header Application
  src/components/atoms/header/header.tsx
  src/components/organisms/headerApplication/headerApplication.test.tsx
  src/components/organisms/headerApplication/headerApplication.tsx
  src/components/pages/rootPage/rootPage.tsx
  src/main.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

fix: fix HeaderApplication test
  src/components/organisms/headerApplication/headerApplication.test.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

fix(logo.tsx): fix logo on mobile
  src/components/molecules/logo/logo.tsx
Due: Lint and Fix Issues, Format Code

feat(title): create and test title component
  src/components/atoms/title/__snapshots__/title.test.tsx.snap
  src/components/atoms/title/title.test.tsx
  src/components/atoms/title/title.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat(avatar): create and test Avatar component
  src/components/atoms/avatar/__snapshots__/avatar.test.tsx.snap
  src/components/atoms/avatar/avatar.test.tsx
  src/components/atoms/avatar/avatar.tsx
  src/components/atoms/avatar/avatar.types.ts
  src/components/atoms/metaTags/metaTags.test.tsx
  src/components/atoms/title/__snapshots__/title.test.tsx.snap
  src/components/atoms/title/title.test.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

test(avatar): update and create new tests with snapshot on avatar component
  src/components/atoms/avatar/__snapshots__/avatar.test.tsx.snap
  src/components/atoms/avatar/avatar.test.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat(home): create a component page Home
  src/assets/photo.jpg
  src/components/pages/home/__snapshots__/home.test.tsx.snap
  src/components/pages/home/home.test.tsx
  src/components/pages/home/home.tsx
  src/index.css
  vitest.config.ts
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

test: update layout mainContainer tests
  src/components/layouts/mainContainer/__snapshots__/mainContainer.test.tsx.snap
  src/components/layouts/mainContainer/mainContainer.test.tsx
  src/components/layouts/mainContainer/mainContainer.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

chore: update photo file
  src/assets/pessoal.jpg
  src/assets/photo.jpg
Due: none

feat: create a icon component
  package-lock.json
  package.json
  src/assets/svg/linkedIn.svg
  src/components/atoms/icon/__snapshots__/icon.test.tsx.snap
  src/components/atoms/icon/icon.test.tsx
  src/components/atoms/icon/icon.tsx
  src/vite-env.d.ts
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat: implement basic button with basic tests
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/button.test.tsx
  src/components/atoms/button/button.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

test: update Home snapshot test"
  src/components/pages/home/__snapshots__/home.test.tsx.snap
  src/components/pages/home/home.tsx
Due: Lint and Fix Issues, Format Code

feat: create a basic implementation of Card
  src/components/atoms/card/__snapshots__/card.test.tsx.snap
  src/components/atoms/card/card.test.tsx
  src/components/atoms/card/card.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat: create a molecule to show Stats
  src/components/molecules/statsCard/__snapshots__/statsCard.test.tsx.snap
  src/components/molecules/statsCard/statsCard.test.tsx
  src/components/molecules/statsCard/statsCard.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat: create a Personal Info Stats to render all stats card
  src/assets/data/meta.const.ts
  src/components/organisms/personalInfoStats/__snapshots__/personalInfoStats.test.tsx.snap
  src/components/organisms/personalInfoStats/personalInfoStats.test.tsx
  src/components/organisms/personalInfoStats/personalInfoStats.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

feat: initial About Page construction
  package-lock.json
  package.json
  src/assets/curriculo-rogerio-yokoi.pdf
  src/assets/data/meta.const.ts
  src/assets/svg/colegio-jose-ferreira.svg
  src/assets/svg/descomplica.svg
  src/assets/svg/ene-solucoes.svg
  src/assets/svg/github.svg
  src/assets/svg/vitta.svg
  src/components/atoms/button/button.tsx
  src/components/atoms/chip/chip.tsx
  src/components/atoms/headline/headline.tsx
  src/components/atoms/icon/__snapshots__/icon.test.tsx.snap
  src/components/molecules/careerCard/careerCard.tsx
  src/components/molecules/linkedInButton/linkedInButton.tsx
  src/components/molecules/section/section.tsx
  src/components/molecules/sectionTitle/__snapshots__/sectionTitle.test.tsx.snap
  src/components/molecules/sectionTitle/sectionTitle.test.tsx
  src/components/molecules/sectionTitle/sectionTitle.tsx
  src/components/molecules/title/title.tsx
  src/components/organisms/certification/certification.tsx
  src/components/organisms/educational/educational.tsx
  src/components/organisms/experience/experience.tsx
  src/components/organisms/personalInfo/personalInfo.tsx
  src/components/organisms/personalInfoLinks/personalInfoLinks.tsx
  src/components/organisms/personalInfoList/__snapshots__/personalInfoList.test.tsx.snap
  src/components/organisms/personalInfoList/personalInfoList.test.tsx
  src/components/organisms/personalInfoList/personalInfoList.tsx
  src/components/pages/about/about.tsx
  src/components/pages/home/__snapshots__/home.test.tsx.snap
  src/components/pages/home/home.tsx
  src/routes/routes.ts
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

build: create redirects file on public
  public/_redirects
Due: none

chore: implement Sentry
  .gitignore
  package-lock.json
  package.json
  src/main.tsx
  vite.config.ts
Due: Lint and Fix Issues, Format Code

feat: implement LogRocket
  package-lock.json
  package.json
  src/main.tsx
  vite.config.ts
Due: Lint and Fix Issues, Format Code

chore: google Analitycs"
  index.html
Due: none

chore: mixpanel
  package-lock.json
  package.json
  src/main.tsx
Due: Lint and Fix Issues, Format Code

feat: remove second page, to publish inital page
  src/components/atoms/button/button.tsx
  src/components/organisms/headerApplication/headerApplication.tsx
  src/components/organisms/personalInfoLinks/personalInfoLinks.tsx
  src/components/pages/home/home.tsx
  src/routes/routes.ts
Due: Lint and Fix Issues, Format Code

fix: snapshots
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/pages/home/__snapshots__/home.test.tsx.snap
Due: none

chore(redirects): redirects
  public/_redirects
Due: none

build(redirects): redirects
  public/_redirects
Due: none

build: install Vite pluguin to image optimizer
  package-lock.json
  package.json
  vite.config.ts
Due: Lint and Fix Issues, Format Code

feat: add Metatags on home page
  src/components/pages/home/home.tsx
Due: Lint and Fix Issues, Format Code

fix: fix tests
  src/components/atoms/navMenuItem/navMenuItem.test.tsx
  src/components/organisms/personalInfoStats/__snapshots__/personalInfoStats.test.tsx.snap
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

test(avatar test): add missing test about default size prop
  src/components/atoms/avatar/avatar.test.tsx
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

refactor: improve types refactor to global type and create paths to this folder
  src/components/atoms/avatar/index.ts
  src/types/global.types.ts
  src/types/index.ts
  tsconfig.json
  vite.config.ts
Due: Lint and Fix Issues, Format Code

fix: fix responsive on small devices
  src/components/molecules/sectionSkill/sectionSkill.tsx
  src/components/molecules/title/title.tsx
Due: Lint and Fix Issues, Format Code

test: create and update all tests on buttom atom component
  src/components/atoms/button/__snapshots__/button.test.tsx.snap
  src/components/atoms/button/button.test.tsx
  src/components/atoms/button/button.tsx
  src/components/atoms/button/button.type.ts
  src/components/atoms/button/buttonClasses.test.ts
  src/components/atoms/button/buttonClasses.ts
  src/components/atoms/button/index.ts
  src/components/atoms/headline/headline.tsx
  src/components/pages/home/__snapshots__/home.test.tsx.snap
  src/types/global.types.ts
  src/utils/generators/classesGenerators.test.ts
  src/utils/generators/classesGenerators.ts
  src/utils/generators/index.ts
  tsconfig.json
  vite.config.ts
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

fix: fix title and button
  src/assets/data/skills.const.ts
  src/components/atoms/button/button.test.tsx
  src/components/atoms/button/button.tsx
  src/components/atoms/card/card.tsx
  src/components/atoms/card/card.types.ts
  src/components/molecules/linkedInButton/linkedInButton.tsx
  src/components/molecules/title/title.tsx
  src/components/organisms/personalInfoLinks/personalInfoLinks.tsx
  src/components/pages/skills/skills.tsx
  src/types/global.types.ts
  src/utils/generators/classesGenerators.test.ts
  src/utils/generators/classesGenerators.ts
Due: Lint and Fix Issues, Format Code, Run Tests on Staged Files

test: fix snapshot test
  src/components/pages/home/__snapshots__/home.test.tsx.snap
Due: none

fix: fix drawer navigate
  src/components/molecules/drawer/drawer.tsx
  src/components/molecules/navMenu/navMenu.tsx
  src/components/organisms/navApplication/navApplication.tsx
Due: Lint and Fix Issues, Format Code
